<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Single page app using Polymer</title>
    <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/assets/elements/vulcanized.html">
    <link href='//fonts.googleapis.com/css?family=Oxygen:700|Source+Sans+Pro|Material+Icons' rel='stylesheet' type='text/css'>
    <link rel="import" href="/assets/elements/technology-element.html">
    <style is="custom-style">
        @@media screen and (max-width:767px){.hidden-mobile{display:none}}@@media screen and (min-width:768px){.hidden-desktop{display:none}}.horizontal-section{margin:0 12px}.layout.horizontal.center-justified{-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.horizontal-section-wrapper > h4{padding:15px 0 5px 0}#top-nav-right-links{text-align:right}#top-nav-right-links a{display:inline-block;vertical-align:middle}#top-nav-right-links a i{font-size:1.3em;display:inline-block;vertical-align:middle;position:relative;top:-1px}#theme-selector-menu{border-right:1px solid rgba(0,0,0,0.2)}#theme-selector-menu a{color:#444;background-color:#f2f7fa;text-decoration:none;font-family:'Oxygen',sans-serif}#theme-selector-menu a paper-item paper-item-body{font-family:'Source Sans Pro',sans-serif}#theme-selector-menu a{color:#444;background-color:#f2f7fa;text-decoration:none}#theme-selector-menu a:hover,#theme-selector-menu a.selected{background-color:#fff;text-decoration:none}#theme-selector-menu a paper-item paper-item-body [secondary]{color:#444;text-decoration:none;font-family:'Source Sans Pro',sans-serif}section{padding:40px 5px 60px 5px;text-align:center}section h3{margin:0;padding:10px 0 60px 0}.horizontal-section,.vertical-section{background-color:#f2f7fa}section.hero .horizontal-section,section.hero .vertical-section,section[hero] .horizontal-section,section[hero] .vertical-section{background-color:#fff}.download-btn-container{display:inline-block;padding:10px 15px;text-align:center}.download-btn-container .btn-subtext a{display:inline-block;padding:10px 0;line-spacing:1px}paper-toolbar a{color:#fff;display:inline-block;padding:5px}paper-toolbar .toolbar-tools.paper-toolbar [title]{font-size:14px}paper-dialog{padding:0 10px 15px 10px}#footer-section{padding:25px 0 30px 0}#footer-section h4{font-weight:300;font-size:1.1em;padding:20px 0}#footer-section .polymer-themes-logo-container{position:relative;padding-bottom:20px}#footer-section .polymer-themes-logo-container .polymer-icon-container{position:absolute;left:0;right:0;top:0;z-index:1;color:#373b50;text-align:center}#footer-section .polymer-themes-logo-container .polymer-icon-container i{font-size:60px}#footer-section .polymer-themes-logo-container h4{position:relative;z-index:2}#footer-section .small{font-size:.7em;letter-spacing:1px;opacity:.8}.footer-links{font-size:.7em;padding:0 0 20px 0}.footer-links a{letter-spacing:2px;text-decoration:none}.footer-links a:hover{text-decoration:underline}#dialogs-container{position:absolute;top:0;left:0;right:0;text-align:center}paper-dialog.usage{position:relative;display:inline-block;margin-top:50px;text-align:center}paper-dialog.usage p{font-size:1.2em;line-height:1.8em;letter-spacing:1px;font-weight:normal}paper-dialog.usage h2{font-size:2em;padding-bottom:20px}paper-dialog.usage code{padding:0;font-weight:bold}paper-dialog.usage pre{font-size:1.5em;line-height:1.5em;padding:15px 20px 20px 20px;opacity:.85;text-align:left;overflow-x:scroll;display:inline-block;margin:0 auto}body{opacity:1}body.invisible{opacity:0}#followus-container-main{padding-bottom:30px;display:block;text-align:left}#footer .followusdotcom-link-container .followusdotcom-link{color:#009ae2 !important;width:48px !important;height:48px !important;line-height:48px !important;font-size:36px !important;margin:0 1px 0 1px !important}
    </style>
    <script>
        function showPage() {
            document.getElementsByTagName('body')[0].className = '';
        }
        // @@see http://stackoverflow.com/a/807997/3367365
        if(window.attachEvent) {
            window.attachEvent('onload', showPage);
        } else {
            if(window.onload) {
                var curronload = window.onload;
                var newonload = function() {
                    curronload();
                    showPage();
                };
                window.onload = newonload;
            } else {
                window.onload = showPage;
            }
        }
        document.addEventListener('WebComponentsReady', showPage);
        document.addEventListener('polymer-ready', showPage);
        var IS_CHROME = (window.chrome !== undefined && window.chrome !== null && window.navigator.vendor.toLowerCase().indexOf('google inc') !== -1);
        window.setTimeout(showPage, (IS_CHROME ? 250 : 4000));
    </script>
</head>
<body class="invisible" onload="showPage();">
    <div id="dialogs-container">
        @Html.Partial("Partial/_DialogPartial")
    </div>

    <paper-drawer-panel responsive-width="4000px">
        <!-- Header Panel Drawer -->
        @Html.Partial("Partial/_NavPartial")

        <paper-header-panel main>

            <!-- paper-toolbar-->
            @Html.Partial("Partial/_ToolbarPartial")

            <div>
                @RenderBody()

                <!-- Footer -->
                @Html.Partial("Partial/_FooterPartial")
            </div>
        </paper-header-panel>
    </paper-drawer-panel>


</body>
</html>